@import url('https://fonts.googleapis.com/css2?family=Halant:wght@600;700&family=Manrope:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #F5F8FE;
    max-width: 1512px;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav {
    display: flex;
    gap: 103px;
    align-items: center;
}

nav a {
    /* margin: 50px; */
    color: #000000;
    font-family: 'Halant';
    font-weight: 500;
    font-size: 24px;

}

.a_one {
    border-bottom: 1px solid #155EEF;
    width: 78.5px;
    text-align: center;
}

.a_three {
    color: #155EEF;
    border: 1px solid #155EEF;
    border-radius: 8px;
    padding: 10px 16px;
    font-family: 'Manrope';
    font-size: 24px;
}

.section_one {
    display: flex;
    justify-content: space-between;
    padding: 16px 120px 0;
    background-color: black;
    align-items: center;
}

.img_one {
    display: block;
}

.first_p {
    /* width: 54%; */
}

.one {
    font-family: 'Halant';
    font-weight: 600;
    font-size: 32px;
    color: #B8B8B8;
}

.two {
    font-family: 'Halant';
    font-weight: 600;
    font-size: 56px;
    color: #FFFFFF;
}

.three {
    font-size: 24px;
    font-family: 'Manrope';
    color: #B8B8B8;
    text-align: justify;
    margin-bottom: 26px;
}

.image_div {
    /* width: 40%; */
}

.img_one {
    /* width: 100%; */
}

.section_one a {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 18px;
    padding: 10px 16px;
    color: #FFFFFF;
    background: #155EEF;
    border-radius: 8px;
}

.section_two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 120px;
    gap: 157px;
    background-color: #F5F8FE;
}

.colored_img {
    /* width: 45%; */
}

.img_two {
    /* width: 100%; */
}

.detail {
    /* width: 100%; */
}

h1 {
    font-family: 'Halant';
    font-weight: 600;
    font-size: 32px;
    color: #000000;
    margin-bottom: 18px;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

.second_p {
    font-size: 24px;
    font-family: 'Manrope';
    color: black;
    text-align: justify;
    margin-bottom: 42px;
}

.section_b {
    display: flex;
    gap: 16px;
}

.a_four {
    /* margin-left: 20px; */
    /* border: 1px solid; */
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 16px;
    padding: 10px 49px;
    color: #FFFFFF;
    background: #155EEF;
    border-radius: 8px;
}

.a_five {
    /* margin-left: 20px; */
    border: 1px solid;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 16px;
    padding: 10px 16px;
    color: #155EEF;
    border-radius: 8px;
}

.section_three {
    display: flex;
    background-color: #E6E6E6;
    padding: 64px 120px 183px;
    position: relative;
    justify-content: space-between;
    margin: 32px 0;
}

.recommend_image {
    width: 53%;
}

.image_three {
    width: 100%;
}

.recommend_div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 47%;
    background-color: #FFFFFF;
    padding: 54px 40px;
    position: absolute;
    left: 42%;
    top: 30%;
}

h2 {
    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    text-align: left;
    letter-spacing: 0.5px;
    color: #141414;
    /* margin-bottom: 8px; */
}

.p_recommend {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: justify;
    letter-spacing: 0.5px;
    color: #141414;
    /* margin-bottom: 8px; */
}

.name_two {
    display: flex;
}

.name {
    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 0.5px;
    color: #525252;
}

.senior {
    font-family: 'Halant';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: justify;
    letter-spacing: 0.5px;
    color: #525252;
}

.footer_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background-color: #080808;
}

.footer_two {
    display: flex;
    gap: 30px;
}

.footer_three {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.header_logo {
    display: none;
}

.icon {
    display: none;
}

.footer_mobile {
    display: none;
}



@media screen and (max-width: 768px) {

    body {
        /* width: 100%; */
    }

    nav {
        display: none;
    }

    .icon {
        display: block;
    }

    header {
        display: flex;
        padding: 0 10px;
    }

    header .image {
        display: none;
    }

    .header_logo {
        display: block;
    }

    .section_one {
        flex-direction: column-reverse;
        padding: 24px 8px 16px;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .image_div {
        width: 100%;
    }

    .img_one {
        width:
    }

    .one {
        font-size: 16px;
        text-align: center;
        align-items: center;
    }

    .two {
        font-size: 24px;
        text-align: center;
        align-items: center;
    }

    .three {
        font-size: 16px;
        text-align: center;
        align-items: center;
    }

    .section_one a {
        justify-content: center;
        align-items: center;
        padding: 10px 100px;
        width: 90%;
    }

    .section_two {
        flex-direction: column;
        padding: 16px 24px 39px;
        width: 100%;
        margin-bottom: 16px;
    }

    .colored_img {
        display: none
    }

    h1 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 8px;
    }

    .second_p {
        font-size: 16px;
        margin-bottom: 16px
    }

    
    .section_three {
        align-items: center;
        justify-content: center;
        /* position: relative; */
        width: 100%;
    }

    .recommend_div {
        padding: 16px 24px;
        color: #141414;
        background-color: #E6E6E6;
        padding: 16px 24px;
        /* margin: 16px; */
        width: 100%;
        position: relative;
    }

    h2 {
        font-family: 'Halant';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #141414;
        margin-bottom: 8px;
    }

    .recommend_image {
        display: none;
    }

    .p_recommend {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-align: justify;
        letter-spacing: 0.5px;
        color: #141414;
        margin-bottom: 8px;
    }

    .name {
        font-family: 'Halant';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        text-align: justify;
        letter-spacing: 0.5px;
        color: #525252;
    }

    .senior {
        font-family: 'Halant';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        text-align: justify;
        letter-spacing: 0.5px;
        color: #525252;
    }

    .footer_desktop {
        display: none;
    }

    .footer_mobile {
        display: block;
        background-color: #080808;
        height: 121.89px;
        padding: 16px 8px 16px 8px;
    }

    .ft {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #080808
    }

    .ft_two {
        display: flex;
        gap: 19px;
    }

    footer p {
        text-align: center;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 15.98 px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        margin-top: 16px;
    }

}