@import url('https://fonts.googleapis.com/css2?family=Halant:wght@600;700&family=Manrope:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #F5F8FE;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.header_one {
    display: flex;
    align-items: center;
}

.header_one a {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 33.28px;
    color: #155EEF;
}

nav a {
    margin: 50px;
    color: #000000;
    font-family: 'Halant';
    font-weight: 500;
    font-size: 24px;

}

.a_one {
    text-decoration: underline 1px solid #155EEF;
    /* border-bottom: 1px solid #155EEF; */
    /* padding-bottom: 10px; */
}

.a_three {
    color: #155EEF;
    border: 1px solid #155EEF;
    border-radius: 8px;
    padding: 10px 16px;
    font-family: 'Manrope';
    font-size: 24px;
}

.section_one {
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    background-color: black;
    align-items: center;
}

.section_one a {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    background: #155EEF;
    border-radius: 8px;
}

.section_two {
    display: flex;
    justify-content: space-between;
    padding: 64px 120px;
    background-color: #F5F8FE;
    gap: 157px;
}

.section_two a .header_one {
    display: flex;
    align-items: center;
}

.one {
    font-family: 'Halant';
    font-weight: 600;
    font-size: 32px;
    color: #B8B8B8;
}

.two {
    font-family: 'Halant';
    font-weight: 600;
    font-size: 56px;
    color: #FFFFFF;
}

.three {
    font-size: 24px;
    font-family: 'Manrope';
    color: #B8B8B8;
    text-align: justify;
    margin-bottom: 30px;
}

.img_one {
    margin-top: 56px;

}

h1 {
    font-family: 'Halant';
    font-weight: 600;
    font-size: 32px;
    color: #000000;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

.second_p {
    font-size: 24px;
    font-family: 'Manrope';
    color: black;
    text-align: justify;
    padding: 10px 20px;
    margin-bottom: 50px;
}

.section_b .a_one {
    margin-left: 20px;
    border: 1px solid;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 18px;
    padding: 10px 50px;
    color: #FFFFFF;
    background: #155EEF;
    border-radius: 8px;
}

.section_b .a_two {
    margin-left: 20px;
    border: 1px solid;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px;
    color: #155EEF;
    border-radius: 8px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #080808;
}

.footer_one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 32px;
}

.footer_one p {
    font-size: 33.28px;
    font-family: 'Manrope';
    font-weight: 700;
}

.footer_two {
    display: flex;
    gap: 30px;
}

.footer_three {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}